.modal-wrapper {
  padding: 10px;
}

.full-width {
  width: 300px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-actions button:not(:last-child) {
  margin-right: 0.5rem;
}

.mat-error {
  padding-right: 0;
}
