<footer>
  <div class="divider-container">
    <hr class="divider">
  </div>

  <ul class="social-links">
    <li>
      <a href="https://www.facebook.com/helvetia.insurance" target="_blank" title="Facebook">
        <img src="https://www.helvetia.com/content/dam/os/corporate/web/media/layout/social-icons/Facebook.svg" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/helvetiaschweiz" target="_blank" title="YouTube">
        <img src="https://www.helvetia.com/content/dam/os/corporate/web/media/layout/social-icons/Youtube.svg" alt="YouTube">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/helvetia-insurance-group" target="_blank" title="LinkedIn">
        <img src="https://www.helvetia.com/content/dam/os/corporate/web/media/layout/social-icons/linkedin.svg" alt="LinkedIn">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/HelvetiaGroup" target="_blank" title="Twitter">
        <img src="https://www.helvetia.com/content/dam/os/ch/web/media/icons/social-icons/Twitter-x.svg" alt="Twitter">
      </a>
    </li>
  </ul>

  <div class="contact-info">
    © 2024 Helvetia Versicherungen AG · Hoher Markt 10-11 · 1010 Wien ·
    <a href="tel:+43502221000">+43 50 222-1000</a>
  </div>

  <ul class="footer-links">
    <li><a>Impressum</a></li>
    <li><a>Rechtliche Hinweise</a></li>
    <li><a>Datenschutz</a></li>
    <li><a>Cookies</a></li>
  </ul>
</footer>
