/* Header styles */
header {
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  margin: 50px 35px 0 35px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  @media (max-width: 619px) {
    height: 30px;
  }
  @media (min-width: 620px) {
    height: 50px;
  }
}

.logo span {
  font-weight: bold;
  color: black;
  font-size: 4vw;
  @media (max-width: 619px) {
    font-size: 30px;
  }
  @media (min-width: 620px) {
    font-size: 40px;
  }
}

.divider-container {
  width: 90%;
  text-align: center;
  margin: 2rem auto 1rem;
}

.divider {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0;
}
