/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  font-family: Futura, "Helvetica Neue", sans-serif;
}

.wrapper {
  min-width: 500px;
  margin: 0 auto;
}
